*.iml
.gradle
/local.properties
.idea/*
!.idea/gradle.xml
!.idea/misc.xml
!.idea/compiler.xml
!.idea/vcs.xml
!.idea/runConfigurations.xml
!.idea/AndroidProjectSystem.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
